In [1]:
import pandas as pd
from utils import combined_sample_stats
import tabulate


def pl_to_float(num):
    if isinstance(num, float):
        return num
    return float(num.replace(",", "."))

url = "https://docs.google.com/spreadsheets/d/1Xeg_KqurQLsgOAikRfmxNsrqY1WkusTG/export?format=csv&gid=1139032638"
df = pd.read_csv(url, header=None, decimal=",").T
df.columns = df.iloc[0]

# Drop the first row (now redundant)
df = df[1:].reset_index(drop=True)
df

,Autor,Url,Gatunek,Lokalizacja,Metoda pozyskania,Masa ciała (g),Masa ciała (g) SD,Masa serca (g),Masa serca (g) SD,Masa wątroby (g),...,Płeć a średnica stępu,Dlugosc ciala vs waga,Dlugosc glowy vs waga,Dlugosc glowy vs dlugosc skrzydla,Dlugosc ciala vs dlugosc skrzydla,Dlugosc ciala vs rozpietosc,Masa ciala a masa watroby,Masa ciala a masa serca,Notes,Data wykonania badania
0,Bhowmik i in.,"(PDF) MORPHOMETRIC MEASUREMENTS, PRODUCTIVE AN...",Jalali Pigeon,"Sylhet, Bangladesh",Reared in scavenging condition,"324,79","3,41",NaN,NaN,NaN,...,NaN,NaN,P<0.05,NaN,NaN,P<0.01,NaN,NaN,Maybe Jalali pigeon is urban pigeon in Banglad...,June 2011 to February 2012.
1,Hena i in.,Comparative weight assessment of some visceral...,Columba livia,"Sokoto, Nigeria",Bought on a market,"270,88","4,08","2,95","0,22","5,96",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRAK
2,Çelik,Morphological Characteristics of Angut Pigeons...,Columba livia domestica,"Şanlıurfa, Turkey",Breed,"361,47","1,74",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Might be reporting coef of variance instead of...,BRAK
3,Casanova,Asymmetries in captured urban rock pigeons Col...,Columba livia domestica,"Catalunya, Spain",Collected by two companies dedicated\nto pest ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Where left and righ using right,BRAK
4,Hetmanski 2008,(PDF) Plumage polymorphism and breeding parame...,NaN,"Gdansk, Poland",Counted at foraging sites in the autumn and wi...,389,35,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combined from genders and plummage patterns,Jesień 2006- zima 2007
5,Hetmanski 2011,EBOOK-Roznice-morfologiczne-i-behawioralne-mie...,NaN,"Slupsk, Poland i po 2004 mijscowość Szpęgowo",Extremally complicated,"381,4","29,44",NaN,NaN,NaN,...,NaN,NaN,P<0.01,P>0.05,NaN,NaN,NaN,NaN,Data from combinig both genders,"lata 1998 - 2001, kontynuacja od 2004"
6,Abubakar i in.,Body weight and Morphometric traits characteri...,Nigeria Homing \r\nPigeons (Columbia livia),Ilorin (Nigeria),Bought on a market,"263,51","36,91",NaN,NaN,NaN,...,NaN,NaN,P=0.06,P=0.07,P=-0.06,NaN,NaN,NaN,NaN,BRAK
7,Abubakar i in. (2),NaN,NaN,Birnin Kebbi (Nigeria),Bought on a market,"249,76","31,85",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRAK
8,Abubakar i in. (3),NaN,NaN,Osogbo (Nigeria),Bought on a market,"204,15","45,47",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRAK
9,M. N. H. Parvez i in.,https://www.banglajol.info/index.php/BJVM/arti...,"Pigeon, multiple subspieces found in Bangladesh","northern Bangladesh (Rajshahi, Natore and Pabn...","Hodowlane gołebie zamknięte na ""farmie gołebi""...","428,25","147,2",NaN,NaN,NaN,...,NaN,P<0.01,P<0.01,NaN,NaN,P<0.01,NaN,NaN,NaN,Czerwiec -2015 do czerwiec 2016
10,Kolumna nr 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Kalla, D.J. U i in. (4)",https://njap.org.ng/index.php/njap/article/vie...,Gołąb domowy - COLUMBIA LIVIA VAR DOMESTICA,Bauchi - Nigeria,"Trzymane w zamknięciu w warunkach domowych ""d...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lipiec 2016- kwiecień 2017
12,Ihor Kolomak,https://www.researchgate.net/publication/38137...,Gołąb m. COLUMBA LIVIA F. URBANA,"Poltava, Ukraine",Brak opisu metody odłowu,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Calculating CVs

In [2]:
data_cols = [
    "Masa ciała (g)",
    "Masa serca (g)",
    "Masa wątroby (g)",
    "Długość ciała (cm)",
    "Rozpiętość skrzydeł (cm)",
    "Długość głowy (cm)",
    "Długość ogona (cm)",
    "Obwód klatki (cm)",
    "Długość skrzydła (cm)",
    "Średnica stępu (cm)",
]

for col in data_cols:
    df[col + " CV"] =  df[col + " SD"].dropna().apply(pl_to_float) / df[col].dropna().apply(pl_to_float)

In [3]:
import numpy as np

filter = df["Masa ciała (g)"].notna()
masa = [
    df["Sample"][filter].dropna().apply(pl_to_float).to_numpy(),
    df["Masa ciała (g)"].dropna().apply(pl_to_float).to_numpy(),
    df["Masa ciała (g) SD"].dropna().apply(pl_to_float).to_numpy(),
]
masa

[array([ 30.,  10., 146., 111.,  48.,  37.,  51.,  51., 300.]),
 array([324.79, 270.88, 361.47, 389.  , 381.4 , 263.51, 249.76, 204.15,
        428.25]),
 array([  3.41,   4.08,   1.74,  35.  ,  29.44,  36.91,  31.85,  45.47,
        147.2 ])]

In [4]:
df[["Autor", "Sample", "Masa ciała (g)",  "Masa ciała (g) SD", "Masa ciała (g) CV"]]

,Autor,Sample,Masa ciała (g),Masa ciała (g) SD,Masa ciała (g) CV
0,Bhowmik i in.,30,"324,79","3,41",0.010499
1,Hena i in.,10,"270,88","4,08",0.015062
2,Çelik,146,"361,47","1,74",0.004814
3,Casanova,42,NaN,NaN,NaN
4,Hetmanski 2008,111,389,35,0.089974
5,Hetmanski 2011,48,"381,4","29,44",0.077189
6,Abubakar i in.,37,"263,51","36,91",0.140071
7,Abubakar i in. (2),51,"249,76","31,85",0.127522
8,Abubakar i in. (3),51,"204,15","45,47",0.222728
9,M. N. H. Parvez i in.,300,"428,25","147,2",0.343724
10,Kolumna nr 1,208,NaN,NaN,NaN
11,"Kalla, D.J. U i in. (4)",NaN,NaN,NaN,NaN
12,Ihor Kolomak,25,NaN,NaN,NaN

# Combined statistics for all the measurements

In [5]:
results = []
for col in data_cols:
    filter = df[col].notna()
    samples = df["Sample"][filter].dropna().apply(pl_to_float).to_numpy()
    groups = [
        samples,
        df[col].dropna().apply(pl_to_float).to_numpy(),
        df[col + " SD"].dropna().apply(pl_to_float).to_numpy(),
    ]
    groups = np.array(groups)
    groups = [tuple(x) for x in groups.T[:-1]]
    try:
        mean, std = combined_sample_stats(groups)
        cv = df[col + " CV"].mean()
        print(f"Overall '{col}'  {mean=:.2f}, {std=:.2f}, {cv=:.2f}")
        num_samples = df["Sample"][filter].dropna().apply(pl_to_float).to_numpy().sum()
        results.append({"Pomiar": col, "Mean": mean, "SD": std, "CV": cv, "Num. Studies": len(groups), "Total Num. Samples": num_samples })
    except Exception as e:
        print(col, ": none")
print()
headers = list(results[0].keys())
print(tabulate.tabulate(results, headers="keys",))

Overall 'Masa ciała (g)'  mean=329.78, std=70.09, cv=0.11
Masa serca (g) : none
Masa wątroby (g) : none
Overall 'Długość ciała (cm)'  mean=29.86, std=5.11, cv=0.07
Overall 'Rozpiętość skrzydeł (cm)'  mean=67.51, std=1.44, cv=0.03
Overall 'Długość głowy (cm)'  mean=4.12, std=0.77, cv=0.07
Overall 'Długość ogona (cm)'  mean=13.30, std=0.07, cv=0.04
Obwód klatki (cm) : none
Overall 'Długość skrzydła (cm)'  mean=23.08, std=6.81, cv=0.08
Overall 'Średnica stępu (cm)'  mean=3.74, std=0.15, cv=0.06

Pomiar                         Mean         SD         CV    Num. Studies    Total Num. Samples
------------------------  ---------  ---------  ---------  --------------  --------------------
Masa ciała (g)            329.778    70.0898    0.11462                 8                   784
Długość ciała (cm)         29.8622    5.11021   0.0715905               6                   657
Rozpiętość skrzydeł (cm)   67.5057    1.43614   0.0329357               2                   476
Długość głowy (cm)          4.11641   0.768522  0.0724943               6                   663
Długość ogona (cm)         13.3       0.07      0.0363221               1                   188
Długość skrzydła (cm)      23.0765    6.81148   0.0832234               5                   375
Średnica stępu (cm)         3.737     0.15      0.0552968               1                   188

# Subtables

In [6]:
ograny_variables = [
    "Masa serca (g)",
    "Masa wątroby (g)",
]

dlugosc_ciala_variables = [
     "Długość ciała (cm)",
    "Rozpiętość skrzydeł (cm)",
    "Długość głowy (cm)",
    "Długość ogona (cm)",
    "Obwód klatki (cm)",
    "Długość skrzydła (cm)",
    "Średnica stępu (cm)",
]

masa_variables = [
    "Masa ciała (g)",
]

base_cols = ["Autor", "Sample", "Gatunek", "Lokalizacja", "Metoda pozyskania"]

def get_cols(variables):
    cols = []
    for var in variables:
        cols.append(var)
        cols.append(var + " CV")
    return cols

df[base_cols + get_cols(ograny_variables)]

,Autor,Sample,Gatunek,Lokalizacja,Metoda pozyskania,Masa serca (g),Masa serca (g) CV,Masa wątroby (g),Masa wątroby (g) CV
0,Bhowmik i in.,30,Jalali Pigeon,"Sylhet, Bangladesh",Reared in scavenging condition,NaN,NaN,NaN,NaN
1,Hena i in.,10,Columba livia,"Sokoto, Nigeria",Bought on a market,"2,95",0.074576,"5,96",0.073826
2,Çelik,146,Columba livia domestica,"Şanlıurfa, Turkey",Breed,NaN,NaN,NaN,NaN
3,Casanova,42,Columba livia domestica,"Catalunya, Spain",Collected by two companies dedicated\nto pest ...,NaN,NaN,NaN,NaN
4,Hetmanski 2008,111,NaN,"Gdansk, Poland",Counted at foraging sites in the autumn and wi...,NaN,NaN,NaN,NaN
5,Hetmanski 2011,48,NaN,"Slupsk, Poland i po 2004 mijscowość Szpęgowo",Extremally complicated,NaN,NaN,NaN,NaN
6,Abubakar i in.,37,Nigeria Homing \r\nPigeons (Columbia livia),Ilorin (Nigeria),Bought on a market,NaN,NaN,NaN,NaN
7,Abubakar i in. (2),51,NaN,Birnin Kebbi (Nigeria),Bought on a market,NaN,NaN,NaN,NaN
8,Abubakar i in. (3),51,NaN,Osogbo (Nigeria),Bought on a market,NaN,NaN,NaN,NaN
9,M. N. H. Parvez i in.,300,"Pigeon, multiple subspieces found in Bangladesh","northern Bangladesh (Rajshahi, Natore and Pabn...","Hodowlane gołebie zamknięte na ""farmie gołebi""...",NaN,NaN,NaN,NaN
10,Kolumna nr 1,208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Kalla, D.J. U i in. (4)",NaN,Gołąb domowy - COLUMBIA LIVIA VAR DOMESTICA,Bauchi - Nigeria,"Trzymane w zamknięciu w warunkach domowych ""d...",NaN,NaN,NaN,NaN
12,Ihor Kolomak,25,Gołąb m. COLUMBA LIVIA F. URBANA,"Poltava, Ukraine",Brak opisu metody odłowu,NaN,NaN,NaN,NaN

In [7]:
def sub_table(df, variabes):
    mask = []
    requested_cols = get_cols(variabes)
    for idx, row in df[requested_cols].iterrows():
        if not row.isna().all():
            mask.append(idx)
    return df[base_cols + requested_cols].iloc[mask]

In [8]:
sub_table(df, dlugosc_ciala_variables)

,Autor,Sample,Gatunek,Lokalizacja,Metoda pozyskania,Długość ciała (cm),Długość ciała (cm) CV,Rozpiętość skrzydeł (cm),Rozpiętość skrzydeł (cm) CV,Długość głowy (cm),Długość głowy (cm) CV,Długość ogona (cm),Długość ogona (cm) CV,Obwód klatki (cm),Obwód klatki (cm) CV,Długość skrzydła (cm),Długość skrzydła (cm) CV,Średnica stępu (cm),Średnica stępu (cm) CV
0,Bhowmik i in.,30,Jalali Pigeon,"Sylhet, Bangladesh",Reared in scavenging condition,"33,28",0.005409,"64,37",0.003107,"3,66",0.054645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Çelik,146,Columba livia domestica,"Şanlıurfa, Turkey",Breed,"33,93",0.004421,"68,15",0.002494,"3,431",0.014573,"13,3",0.005263,"20,67",0.001451,"29,26",0.003418,"3,737",0.040139
3,Casanova,42,Columba livia domestica,"Catalunya, Spain",Collected by two companies dedicated\nto pest ...,"33,03",0.056161,NaN,NaN,NaN,NaN,"12,6",0.067381,NaN,NaN,"22,63",0.049350,"0,44",0.070455
5,Hetmanski 2011,48,NaN,"Slupsk, Poland i po 2004 mijscowość Szpęgowo",Extremally complicated,NaN,NaN,NaN,NaN,"5,485",0.022425,NaN,NaN,NaN,NaN,"23,15",0.030238,NaN,NaN
6,Abubakar i in.,37,Nigeria Homing \r\nPigeons (Columbia livia),Ilorin (Nigeria),Bought on a market,"24,39",0.168102,NaN,NaN,"4,62",0.097403,NaN,NaN,NaN,NaN,"13,68",0.151316,NaN,NaN
7,Abubakar i in. (2),51,NaN,Birnin Kebbi (Nigeria),Bought on a market,"23,71",0.082666,NaN,NaN,"4,31",0.134571,NaN,NaN,NaN,NaN,"12,49",0.152922,NaN,NaN
8,Abubakar i in. (3),51,NaN,Osogbo (Nigeria),Bought on a market,"23,72",0.085160,NaN,NaN,"4,5",0.062222,NaN,NaN,NaN,NaN,"12,4",0.112097,NaN,NaN
9,M. N. H. Parvez i in.,300,"Pigeon, multiple subspieces found in Bangladesh","northern Bangladesh (Rajshahi, Natore and Pabn...","Hodowlane gołebie zamknięte na ""farmie gołebi""...","35,68",0.099215,"68,88",0.093206,"5,92",0.121622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
sub_table(df, masa_variables)

,Autor,Sample,Gatunek,Lokalizacja,Metoda pozyskania,Masa ciała (g),Masa ciała (g) CV
0,Bhowmik i in.,30,Jalali Pigeon,"Sylhet, Bangladesh",Reared in scavenging condition,"324,79",0.010499
1,Hena i in.,10,Columba livia,"Sokoto, Nigeria",Bought on a market,"270,88",0.015062
2,Çelik,146,Columba livia domestica,"Şanlıurfa, Turkey",Breed,"361,47",0.004814
4,Hetmanski 2008,111,NaN,"Gdansk, Poland",Counted at foraging sites in the autumn and wi...,389,0.089974
5,Hetmanski 2011,48,NaN,"Slupsk, Poland i po 2004 mijscowość Szpęgowo",Extremally complicated,"381,4",0.077189
6,Abubakar i in.,37,Nigeria Homing \r\nPigeons (Columbia livia),Ilorin (Nigeria),Bought on a market,"263,51",0.140071
7,Abubakar i in. (2),51,NaN,Birnin Kebbi (Nigeria),Bought on a market,"249,76",0.127522
8,Abubakar i in. (3),51,NaN,Osogbo (Nigeria),Bought on a market,"204,15",0.222728
9,M. N. H. Parvez i in.,300,"Pigeon, multiple subspieces found in Bangladesh","northern Bangladesh (Rajshahi, Natore and Pabn...","Hodowlane gołebie zamknięte na ""farmie gołebi""...","428,25",0.343724

In [10]:
sub_table(df, ograny_variables)

,Autor,Sample,Gatunek,Lokalizacja,Metoda pozyskania,Masa serca (g),Masa serca (g) CV,Masa wątroby (g),Masa wątroby (g) CV
1,Hena i in.,10,Columba livia,"Sokoto, Nigeria",Bought on a market,"2,95",0.074576,"5,96",0.073826